
   h2{
     text-align: center;
     background-color: aqua;
     color: red;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     font-size: 18px;
     font-weight: bolder;
     font-style: italic;
   }
   h1{
     color:black;
     font-family: Georgia, 'Times New Roman', Times, serif;
     font-size: 16px;
     font-style: oblique;
     font-weight: bold;
   }
   body{
     background-color: #3b5998;
   }
   a:link{
     text-decoration: none;

     color : #FF0000;
   }
   a:hover {
    text-decoration: underline;
    color: #FF00FF;
    }
    a:active{
text-decoration: underline;
    }
    p::first-letter{
      font-size: 2.5em;
      color: #8A2BE2;
    }