h1{
    padding: 0px;
    letter-spacing: 0.25cm;
    color: #A4A400;
    background-color: #F0F0F0;
font-family: Lucida Sans Unicode,Arial,sans-serif;
text-align: center;
font-size: 22pt;
font-weight:  bold;
text-decoration: underline;
}
h2{
    padding: 0px;
    letter-spacing: 0.25cm;
    color: #A4A400;
    background-color: #F0F0F0;
    font-family: Lucida Sans Unicode,Arial,sans-serif;
text-align: left;
font-size: 22pt;
font-weight:  bold;
text-decoration: underline;
}
body{
    background-image: url("silverware.jpg");
    color: #404040;
    font-size: 11pt;
    font-family: Georgia,Garamond,serif;

}

ul{
    list-style-type:none ;
    list-style-image: url(pie_icon.gif);
}
a{
    color:  #A4A400 ;
}
strong{
    font-family: italic;
    background-color: #FFFFA8;

}
#right_align{
    text-align: justify;
    text-align-last: right;
}